<footer>
    <section class="container" id="footer">
        <img class="logo-footer" src="/assets/wf.png">
 
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/perguntar">Perguntar</a></li>
            <li><a href="/categorias">Categorias</a></li>
            <li><a href="/entrar">Entrar </a></li>
            <li><a href="/cadastrar">Cadastrar-se</a></li>
            <li><a href="/creditos">Créditos</a></li>
        </ul>
 
        <hr>
 
        <span>&#169; Wolfbyte Trainees. Todos os direitos reservados</span>
    </section>
</footer>
