<header>
    <nav id="navbar" class="container">
        <a id="brand" href="/">Wolforum</a>
        <img src="/public/assets/wf.png">
 
        <ul id="menu" class="menu">
            <li>
                <form class="search" method="POST" action="/pesquisardiscussao">
                    <input type="search" placeholder="Pesquisar" name="search" id="search" required>
                    <button type="submit"><img src="/assets/search-button.svg" alt="Search button"></button>
                </form>
            </li>
            <li><a href="/perguntar">Perguntar</a></li>
            <li><a href="/categorias">Categorias</a></li>
            <% if(!session){ %>
                <li><a href="/entrar">Entrar ou cadastrar-se</a></li>
            <% } else{  %>
                <li><a href="/minhas-perguntas">Minhas perguntas</a></li>
                <li><a href="/sair">Sair</a></li>
            <% } %>
        </ul>
 
        <button id="menu-button" class="menu-button" onclick="menu()">
            <div class="bars bar-1"></div>
            <div class="bars bar-2"></div>
            <div class="bars bar-3"></div>
        </button>
    </nav>
 
    <script src="../../js/menu.js"></script>
</header>