<header>
    <nav id="navbar" class="container">
        <a id="brand" href="/">Wolforum</a>

        <ul>
            <li>
                <form class="search" method="" action="">
                    <input type="search" placeholder="Pesquisar">
                    <button type="submit"><img src="/assets/search-button.svg" alt="Search button"></button>
                </form>
            </li>
            <li><a href="/perguntar">Perguntar</a></li>
            <li><a href="/categorias">Categorias</a></li>
            <li><a href="/entrar">Entrar ou cadastrar-se</a></li>
        </ul>
    </nav>
</header>