<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/categorias.css">
    <title>Categorias</title>
    <style>
        
    </style>
</head>
<body>
    <!-- Para o back end, esta pagina necessitará de um array de categorias, esse array de categorias deve conter o atributo "nome" e "qtd", respectivamente, nome da categoria e quantidade de discussões 
    -->


    <%- include('partials/header.ejs')  -%> 
    <main class="container">
        <div class="card-category">
        
            <div class="card-header">
                <div class="card-grid">

                    <h1> Todas as categorias </h1>
                    
                    <nav>
                        
                        <form action="">
                            <input type="text">
                            <button>
                                <img src="/assets/search-button.svg" alt="">
                            </button>
                        </form>
                        <a href="">Criar</a>
                        
                    </nav>
                </div>
       
            </div>

            <div class="card-body">
               
                <% categorias.slice(0, 10).forEach(element => { %>
                <div class="category">             
                    <div>
                            <a href=""> <%= element.nome %> </a>
                    </div> 
                    
                    <div class="discussions-number"><%= element.qtd %> discussões </div>
                </div>
                    <% }) %>
                <div class="more"><a href="">. . .</a></div>
            </div>
    
        </div>
  
    </main>
    <%- include('partials/footer.ejs')  -%> 
</body>
</html>