<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrar</title>

    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" href="../assets/favicon.ico">
</head>

<body>
    <%-include("partials/header.ejs") %>
    
    <main class="container" id="credits-container">
       <section class="main-content" id="credits">
        <h1>Créditos</h1>
        <ul> 
            <li><span>Cleyton - Back-end and Front-end</span><a href="https://github.com/Cleytonpsf"><img src="/assets/GitHub-Mark-32px.png"></a></li>
            <li><span>Felipe Júnior - Back-end and Front-end</span><a href="https://github.com/felipe-junior"><img src="/assets/GitHub-Mark-32px.png"></a></li>
            <li><span>João - Back-end and Design</span><a href="https://github.com/jvrreis"><img src="/assets/GitHub-Mark-32px.png"></a></li>
            <li><span>Lucas Farolfi - Design, Front-end and Back-end</span><a href="https://github.com/lucasfarolfi"><img src="/assets/GitHub-Mark-32px.png"></a></li>
        </ul>


       </section>
    </main>

    <%-include("partials/footer.ejs") %>
</body>
</html>