<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrar</title>

    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" href="../assets/favicon.ico">
</head>

<body>
    <%-include("partials/header.ejs") %>
    
    <main class="container" id="credits-container">
       <section class="main-content" id="credits">
        <div class="card-header">
            <h1>Créditos</h1>
        </div>
        
        <ul>
            <li><a href="https://github.com/Cleytonpsf"><span>Cleyton</span><img src="/assets/GitHub-Mark-32px.png"></a> <div>Back-end and Front-end</div> </li>
            <li><a href="https://github.com/felipe-junior"><span>Felipe Júnior</span><img src="/assets/GitHub-Mark-32px.png"></a> <div>Back-end and Front-end</div></li>
            <li><a href="https://github.com/jvrreis"><span>João</span><img src="/assets/GitHub-Mark-32px.png"></a> <div>Back-end and Design</div></li>
            <li><a href="https://github.com/lucasfarolfi"><span>Lucas Farolfi</span><img src="/assets/GitHub-Mark-32px.png"></a> <div>Design, Front-end and Back-end</div></li>
        </ul>

       </section>
    </main>

    <%-include("partials/footer.ejs") %>
</body>
</html>