<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wolforum - Nova Pergunta</title>

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/discussao.css">
</head>

<body>
    <%-include("partials/header.ejs") %>
    
    <main class="container">
        <section id="ask-header">
            <h1>Lorem ipsum dolor sit ?</h1>
            <span>Postado por: Usuário, no dia: 00/00/00</span>
        </section>

        <section id="ask-body">
            <section class="comentary-author">
                <div class="author-img"></div>
                <div class="author-data">
                    <div class="author-username">Usuário</div>
                    <div class="author-date">00/00/00</div>
                </div>
            </section>

            <article class="comentary-text">
                <span>00/00/00</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel tellus sem. Donec in lacus felis. Donec volutpat lectus erat, id porttitor erat ornare quis. Nulla facilisi. Sed euismod sem non laoreet dictum. Phasellus ut consequat eros. Proin nisi quam, ultrices sed pretium eget, viverra ut nisl.

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel tellus sem. Donec in lacus felis. Donec volutpat lectus erat, id porttitor erat ornare quis. Nulla facilisi. Sed euismod sem non laoreet dictum. Phasellus ut consequat eros. Proin nisi quam, ultrices sed pretium eget, viverra ut nisl.</p>
            </article>
        </section>

        <section class="answares">
            <section class="comentary-author">
                <div class="author-img"></div>
                <div class="author-data">
                    <div class="author-username">Usuário</div>
                    <div class="author-date">00/00/00</div>
                </div>
            </section>

            <article class="comentary-text">
                <span>00/00/00</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel tellus sem. </p>
            </article>
        </section>

        <section class="answares">
            <section class="comentary-author">
                <div class="author-img"></div>
                <div class="author-data">
                    <div class="author-username">Usuário</div>
                    <div class="author-date">00/00/00</div>
                </div>
            </section>

            <article class="comentary-text">
                <span>00/00/00</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel tellus sem. Donec in lacus felis. Donec volutpat lectus erat, id porttitor erat ornare quis. Nulla facilisi. Sed euismod sem non laoreet dictum. Phasellus ut consequat eros. Proin nisi quam, ultrices sed pretium eget, viverra ut nisl.

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel tellus sem. Donec in lacus felis. Donec volutpat lectus erat, id porttitor erat ornare quis. Nulla facilisi. Sed euismod sem non laoreet dictum. Phasellus ut consequat eros. Proin nisi quam, ultrices sed pretium eget, viverra ut nisl.
                </p>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel tellus sem. Donec in lacus felis. Donec volutpat lectus erat, id porttitor erat ornare quis. Nulla facilisi. Sed euismod sem non laoreet dictum. Phasellus ut consequat eros. Proin nisi quam, ultrices sed pretium eget, viverra ut nisl.

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel tellus sem. Donec in lacus felis. Donec volutpat lectus erat, id porttitor erat ornare quis. Nulla facilisi. Sed euismod sem non laoreet dictum. Phasellus ut consequat eros. Proin nisi quam, ultrices sed pretium eget, viverra ut nisl.
                </p>
            </article>
        </section>

        <section id="answare-form">
            <h2>Responder discussão</h2>

            <textarea></textarea>

            <button>Responder</button>
        </section>
    </main>

    <%-include("partials/footer.ejs") %>
</body>
</html>