<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esqueceu sua senha</title>

    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" href="../assets/favicon.ico">
</head>

<body>
    <%-include("partials/header.ejs") %>
    
    <main class="container">
        <section id="signup">
            <h1>Esqueci minha senha</h1> <!--Troquei para H1, pois influencia na pesquisa dos sites no google, portanto é uma boa prática-->
            
            <form method="POST" action="/alterar-senha" onsubmit="validation(event, this)">
                <input type="email" name="email" id="email" placeholder="E-mail" aria-invalid="true" required>
                <font color="red" size="2">
                    <p id="validateEmail" style="display: none;">E-mail não cadastrado.</p><br>
                </font>
                <input type="password" name="password" id="password" placeholder="Nova senha" aria-invalid="true" required>
                <font color="red" size="2">
                    <p id="validateMin" style="display: none;">Use 8 caracteres ou mais para sua senha.</p><br>
                </font>
                <input type="password" id="confirmPassword" placeholder="Confirmar senha" required>
                <font color="red" size="2">
                    <p id="validatePassword" style="display: none;">As senhas não são iguais. Tente novamente!</p><br>
                </font>
                <button type="submit">Alterar senha</button>

                <% registers.forEach(register =>{ %>
                    <input type="email" id="<%= register.id %>" value="<%= register.email %>" hidden>
                <% }) %> 
            </form>
            
            <a href="/entrar" id="back-button">Voltar ao login</a>

        </section>
    </main>
    <script>
        function validation(event, form){
            event.preventDefault()
            let flag = 0
            let inputs = document.getElementsByTagName("input")
            let inputsArray = [...inputs]
            let email = document.getElementById("email").value
            let password = document.getElementById("password").value
            let confirmPassword = document.getElementById("confirmPassword").value
            let sizePassword = document.getElementById("password").value.length

            document.getElementById("validateEmail").style.display = "none"
            inputsArray.forEach(input =>{
                if(input.id < "A" || input.id > "z"){
                    if(input.value == email)
                        flag=1
                }
            })
            document.getElementById("validatePassword").style.display = "none"
            document.getElementById("validateMin").style.display = "none"

            if(sizePassword < 8 && password != confirmPassword){
                document.getElementById("validateMin").style.display = "block"
            }else{
                if(sizePassword < 8){
                    document.getElementById("validateMin").style.display = "block"
                }else{
                    if(password != confirmPassword){
                        document.getElementById("validatePassword").style.display = "block"
                    }else{
                        if(flag == 0)
                            document.getElementById("validateEmail").style.display = "block"
                        else
                            form.submit()
                    }
                }
            }
        }
    </script>
    <%-include("partials/footer.ejs") %>
</body>
</html>