<%-include("partials/head.ejs")%>
<body>
    
    <h1>Esta é a página home</h1>
    <a href="/cadastrar">Página de Cadastro</a><br><br>
    <a href="pergunta">Página Para Realizar Pergunta</a>
</body>
</html>