<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wolforum - Home</title>

    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <%-include("partials/header.ejs") %>
    
    <main class="container">
        <section id="ask">
            <div id="top-bar">
                <h1>Todas as discussões</h1>
                <a href="/perguntar"><button>Abrir pergunta</button></a>
            </div>
            <div id="asks">
                    <span>
                        <div class="content">
                            <div class="top-bar-content">
                                <h3 class="title">Lorem ipsum dolor sit, amet consectetur adipisicing elit?</h3>
                                <div class="user">Perguntado por: felipe</div>
                            </div>
                            <div class="bottom-bar-content">
                                <div class="category">Esporte</div>
                                <div class="date">29/05/2021</div>
                            </div>
                        </div>
                    </span>
                    <span>
                        <div class="content">
                            <div class="top-bar-content">
                                <h3 class="title">Lorem ipsum dolor sit, amet consectetur adipisicing elit?</h3>
                                <div class="user">Perguntado por: felipe</div>
                            </div>
                            <div class="bottom-bar-content">
                                <div class="category">Esporte</div>
                                <div class="date">29/05/2021</div>
                            </div>
                        </div>
                    </span>
                    <span>
                        <div class="content">
                            <div class="top-bar-content">
                                <h3 class="title">Lorem ipsum dolor sit, amet consectetur adipisicing elit?</h3>
                                <div class="user">Perguntado por: felipe</div>
                            </div>
                            <div class="bottom-bar-content">
                                <div class="category">Esporte</div>
                                <div class="date">29/05/2021</div>
                            </div>
                        </div>
                    </span>
                    <span>
                        <div class="content">
                            <div class="top-bar-content">
                                <h3 class="title">Lorem ipsum dolor sit, amet consectetur adipisicing elit?</h3>
                                <div class="user">Perguntado por: felipe</div>
                            </div>
                            <div class="bottom-bar-content">
                                <div class="category">Esporte</div>
                                <div class="date">29/05/2021</div>
                            </div>
                        </div>
                    </span>
                    <span>
                        <div class="content">
                            <div class="top-bar-content">
                                <h3 class="title">Lorem ipsum dolor sit, amet consectetur adipisicing elit?</h3>
                                <div class="user">Perguntado por: felipe</div>
                            </div>
                            <div class="bottom-bar-content">
                                <div class="category">Esporte</div>
                                <div class="date">29/05/2021</div>
                            </div>
                        </div>
                    </span>
                    <span>
                        <div class="content">
                            <div class="top-bar-content">
                                <h3 class="title">Lorem ipsum dolor sit, amet consectetur adipisicing elit?</h3>
                                <div class="user">Perguntado por: felipe</div>
                            </div>
                            <div class="bottom-bar-content">
                                <div class="category">Esporte</div>
                                <div class="date">29/05/2021</div>
                            </div>
                        </div>
                    </span>
                    <span>
                        <div class="content">
                            <div class="top-bar-content">
                                <h3 class="title">Lorem ipsum dolor sit, amet consectetur adipisicing elit?</h3>
                                <div class="user">Perguntado por: felipe</div>
                            </div>
                            <div class="bottom-bar-content">
                                <div class="category">Esporte</div>
                                <div class="date">29/05/2021</div>
                            </div>
                        </div>
                    </span>
                    <span>
                        <div class="content">
                            <div class="top-bar-content">
                                <h3 class="title">Lorem ipsum dolor sit, amet consectetur adipisicing elit?</h3>
                                <div class="user">Perguntado por: felipe</div>
                            </div>
                            <div class="bottom-bar-content">
                                <div class="category">Esporte</div>
                                <div class="date">29/05/2021</div>
                            </div>
                        </div>
                    </span>
                    <span>
                        <div class="content">
                            <div class="top-bar-content">
                                <h3 class="title">Lorem ipsum dolor sit, amet consectetur adipisicing elit?</h3>
                                <div class="user">Perguntado por: felipe</div>
                            </div>
                            <div class="bottom-bar-content">
                                <div class="category">Esporte</div>
                                <div class="date">29/05/2021</div>
                            </div>
                        </div>
                    </span>
                    <span>
                        <div class="content">
                            <div class="top-bar-content">
                                <h3 class="title">Lorem ipsum dolor sit, amet consectetur adipisicing elit?</h3>
                                <div class="user">Perguntado por: felipe</div>
                            </div>
                            <div class="bottom-bar-content">
                                <div class="category">Esporte</div>
                                <div class="date">29/05/2021</div>
                            </div>
                        </div>
                    </span>
                    <span>
                        <div class="content">
                            <div class="top-bar-content">
                                <h3 class="title">Lorem ipsum dolor sit, amet consectetur adipisicing elit?</h3>
                                <div class="user">Perguntado por: felipe</div>
                            </div>
                            <div class="bottom-bar-content">
                                <div class="category">Esporte</div>
                                <div class="date">29/05/2021</div>
                            </div>
                        </div>
                    </span>
                    <div class="more">
                        <a href="">...</a>
                    </div>
                </div>
        </section>
    </main>

    <%-include("partials/footer.ejs") %>
</body>
</html>