<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wolforum - Home</title>

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/home2.css">
</head>

<body>
    <%-include("partials/header.ejs") %>
    
    <main class="container">
        <div class="card">
            <div class="card-header">
                <h1>Todas as discussões</h1>
                <div class="grid-item-btn">
                    <a href="http://">Abrir pergunta</a>

                </div>
            </div>
            <div class="card-body">
                <div class="ask">
                        <a class="title" href="/pergunta/id">Lorem dolor sit amet consectetur adipisicing elit?</a>              
                        <div class="grid-item-category">
                            <a href="/categoria" class="category">Categorias</a>
                        </div>
                        <div class="user">Perguntado por: Usuário</div>
                  
                        <div class="date">00/00/0000</div>                   
                </div>
                <div class="ask">
                        <a class="title" href="/pergunta/id">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat modi a, voluptatem totam enim placeat amet! Repudiandae quibusdam sed, ab amet odio non temporibus totam unde quaerat quam consectetur vel.</a>              
                        <div class="grid-item-category">
                            <a href="/categoria" class="category">Categorias</a>
                        </div>
                        <div class="user">Perguntado por: Usuário</div>
                  
                        <div class="date">00/00/0000</div>                   
                </div>
                <div class="ask">
                        <a class="title" href="/pergunta/id">Lorem dolor sit amet consectetur adipisicing elit?</a>              
                        <div class="grid-item-category">
                            <a href="/categoria" class="category">Categorias</a>
                        </div>
                        <div class="user">Perguntado por: Usuário</div>
                  
                        <div class="date">00/00/0000</div>                   
                </div>
            
    
                
            </div>

         
            <div class="card-footer">
                <a href="">Ver mais</a>
            </div>
        </div>            
    </main>

    <%-include("partials/footer.ejs") %>
</body>
</html>