<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrar</title>

    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" href="../assets/favicon.ico">
</head>

<body>
    <%-include("partials/header.ejs") %>
    
    <main class="container">
        <section id="login">
            <h1>Entrar</h1> <!--Troquei para H1, pois influencia na pesquisa dos sites no google, portanto é uma boa prática-->
            
            <form method="POST" action="/entrar">
                <input type="email" name="email" placeholder="Digite o seu email" required><br>
                <input type="password" name="password" placeholder="Digite a sua senha" required><br>
                <button type="submit" id="login-button">Entrar</button>
            </form>
            
            <span>ou</span><br>
            <a href="/cadastrar"><button id="signup-button">Cadastrar-se</button></a>

            <span><a href="/esqueceu-sua-senha">Esqueceu sua senha ?</a></span>

        </section>
    </main>

    <%-include("partials/footer.ejs") %>
</body>
</html>