<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="perguntar.css">
</head>

<body>
    <header>
        <nav id="navbar" class="container">
            <a id="brand" href="index.html">WOLFÓRUM</a>

            <ul>
                <li>
                    <form class="search" method="" action="">
                        <input type="search" placeholder="Pesquisar">
                        <button type="submit"><img src="public/assets/Grupo 87.svg" alt="Search button"></button>
                    </form>
                </li>
                <li><a href="perguntar.html">Perguntar</a></li>
                <li><a href="categorias.html">Categorias</a></li>
                <li><a href="entrar.html">Entrar ou cadastrar-se</a></li>
            </ul>
        </nav>
    </header>
    
    <main class="container">
        <section id="new-ask">
            <h1>Faça uma nova pergunta</h1> <!--Troquei para H1, pois influencia na pesquisa dos sites no google, portanto é uma boa prática-->

            <form action="/perguntar" method="post">
                <div id="title">
                    <label>Título da pergunta</label>
                    <input type="text" name="title">
                </div>
                <div id="description">
                    <label >Descrição</label>
                    <textarea name="description" rows="10"></textarea>
                </div>
                
                <div id="categories">
                    <select name="category"> A fazer
                        <option value="0" selected="selected">Categoria</option>
                        <option value="1">Esportes</option>
                        <option value="2">Notícias</option>
                        <option value="3">Ciência</option>
                        <option value="4">Curiosidades</option>
                    </select>
                </div>
            
                <button type="submit">Perguntar</button>
            </form>

        </section>
    </main>

    <footer>
        <section class="container" id="footer">
            <h2>Forum</h2>
            
            <ul>
                <li><a href="perguntar.html">Perguntar</a></li>
                <li><a href="categorias.html">Categorias</a></li>
                <li><a href="entrar.html">Entrar </a></li>
                <li><a href="cadastrar.html">Cadastrar-se</a></li>
            </ul>

            <hr>

            <span>&#169; Wolfbyte Trainees. Todos os direitos reservados</span>
        </section>
    </footer>
</body>
</html>