<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wolforum - Nova Pergunta</title>

    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/perguntar.css">
</head>

<body>
    <%-include("partials/header.ejs") %>
    
    <main class="container">
        <section id="new-ask">
            <h1>Faça uma nova pergunta</h1> <!--Troquei para H1, pois influencia na pesquisa dos sites no google, portanto é uma boa prática-->

            <form action="/salvarpergunta" method="post">
                <div id="title">
                    <label>Título da pergunta</label>
                    <input type="text" name="title">
                </div>
                <div id="description">
                    <label >Descrição</label>
                    <textarea name="description" rows="10"></textarea>
                </div>
                
                <div id="categories">
                    <select name="category">
                        <option value="0" selected="selected">Categoria</option>
                        <% categorias.forEach(category => { %>
                            <option value="<%= category.id %>"><%= category.titulo%> </option> 
                        <% }); %> 
                    </select>

                </div>
<!--                <div id="categories">
                    <select name="category"> A fazer
                        <option value="0" selected="selected">Categoria</option>
                        <option value="1">Esportes</option>
                        <option value="2">Notícias</option>
                        <option value="3">Ciência</option>
                        <option value="4">Curiosidades</option>
                    </select>
                </div>
-->
                <button type="submit">Perguntar</button>
            </form>

        </section>
    </main>

    <%-include("partials/footer.ejs") %>
</body>
</html>