<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wolforum - Nova Pergunta</title>

    <link rel="stylesheet" href="/css/main.css">
    <!--<link rel="stylesheet" href="/css/perguntar.css">-->
</head>

<body>
    <%-include("partials/header.ejs") %>
    
    <main class="container">
        <section class="main-content" id="new-ask">
            <h1>Faça uma nova pergunta</h1> <!--Troquei para H1, pois influencia na pesquisa dos sites no google, portanto é uma boa prática-->

            <form action="/salvarpergunta" method="post">
                <div id="title">
                    <label>Título da pergunta</label>
                    <input placeholder="Digite o título" type="text" name="title">
                </div>
                <div id="description">
                    <label >Descrição</label>
                    <textarea name="description" id="description_ask"></textarea>
                </div>
                
                <div id="categories">
                    <select name="category">
                        <option value="0" selected="selected">Categoria</option>
                        <% categorias.forEach(category => { %>
                            <option value="<%= category.id %>"><%= category.titulo%> </option> 
                        <% }); %> 
                    </select>

                </div>

                <button class="btn" type="submit">Perguntar</button>

            </form>

        </section>
    </main>

    <%-include("partials/footer.ejs") %>
</body>
</html>
<!--
<script src="/tinymce/tinymce.min.js"></script>
<script> //
    tinymce.init({
        language: 'pt_BR',
        selector: "#description_ask",
        plugins: ["advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons"]
    })
</script>
-->
