.card-category{
    margin-top: 72px;
    border-radius: 10px;
    overflow: hidden;
}
h1, .category *{
    color: #686868;
}

h1{
    font-size: 25px;
}
.card-header nav{
    display: flex;
}
.card-grid{
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.card-header{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
    padding-right: 27px ;
    padding-left: 25px ;
    background-color: #F8F8F8;
    height: 80px;
    
}
.card-header input{
    width: 300px;
}
.card-header a{
    
    background-color: #09AB9B;
    width: 160px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    margin-left: 32px;
}




 /* Fim cabeçalho do card */
.card-body{
    background-color: white;
    padding-top: 11px;
}
.category{
    font-size: 22px;
    height: 68px;
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    border-bottom: #DFDFDF solid 1px;
}
.category a{
    padding-left:25px;
}

.discussions-number{
    padding-right: 25px;
    text-decoration: none;
    font-size: 16px;    
}

.more{
    text-align: center;
    height: 72px;
    line-height: 72px;
    font-weight: 1000;
}
.more a{
    color: #686868;
}


@media (max-width: 520px){
    * {
        font-size: 14px;
        
    }
   
    
    .container{
        width: 100%;
    }
    .card-category{
        min-width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        grid-template-areas: "card-header" "card-body";
        margin-top: 20px;
    }

    .card-header{
        grid-area: card-header;
        height: auto;
    }
    .card-body{
        grid-area: card-body;
    }
    .discussions-number{
        font-size: 14px;
    }
    .card-header h1 {
        text-align: center;
        margin: 5px 0;
    }
    .card-header h1,.card-header a{
        display: inline-block;
        font-size: 18px;
    }

    .card-header a{
       display: inline-block;
       height: 40px;
       width: 100%;
       line-height: 40px;
       margin: 0;
    }
    .card-header{
        display: block;
        padding: 0 ;
      
    }
    .card-header nav {
        display: block;
        width: 100%;
       
    }
    
   
    .container{
        padding: 0;
    }

    .card-grid{
        
        display: grid;
        row-gap: 10px;
        padding: 20px 0;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto ;
        align-items: center;
    }
}
