#ask-header{
    background-color: white;
    border-radius: 10px;
    padding: 12px 15px;
    margin-top: 40px;
}
#ask-header h1{
    font-size: 25px;
    margin-bottom: 10px;
}
#ask-header span{
    font-size: 14px;
}
#ask-body, .answares{
    background-color: white;
    border-radius: 10px;
    padding: 12px 15px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}
/*------- comentary -------*/

/*------- author -------*/
.comentary-author{ 
    border-right: 1px solid #707070;
    width: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.author-img{
    background-color: grey;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.author-username{
    margin-top: 10px;
    text-align: center;
}
.author-date{
    display: none;
}
/*------- text -------*/
.comentary-text{
    width: 100%;
    margin-left: 10px;
}
.comentary-text p{
    margin-top: 10px;
    text-align: justify;
}
/*------- Answare form -------*/
#answare-form{
    background-color: white;
    border-radius: 10px;
    padding: 12px 15px;
    margin-top: 40px;
}
#answare-form h2{
    font-size: 20px;
    margin-bottom: 20px;
}
#answare-form textarea{
    width: 100%;
    border-radius: 5px;
    min-height: 150px;
    resize: none;
    margin-bottom: 10px;
}
#answare-form button{
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    background-color: #09AB9B;
    font-size: 16px;
}

@media (max-width: 768px){
    #ask-body, .answares{
        flex-direction: column;
    }
    #ask-header h1{
        font-size: 20px;
    }
    #ask-header span{
        font-size: 12px;
    }
    /*------- comentary -------*/

    /*------- author -------*/
    .comentary-author{ 
        margin-bottom: 10px;
        border-right: none;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .author-img{
        width: 30px;
        height: 30px;
    }
    .author-username{
        margin-top: none;
        text-align: left;
    }
    .author-username,.author-date{
        display: inline;
        margin-left: 10px;
    }
    /*------- text -------*/
    .comentary-text{
        margin-left: 0;
    }
    .comentary-text span{
        display: none;
    }
    .comentary-text p{
        margin-top: 10px;
    }
    #answare-form h2{
        font-size: 18px;
    }
}
