
.card{
    margin-top: 40px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgb(160, 158, 158);
  
}

/* Inicio cabeçalho do card */
.card-header{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: 'canto-esquerdo canto-direito';
    padding: 20px;
    background-color: #F8F8F8;
    
}
.card-header h1{
    font-size: 25px;
    line-height: 45px;
    font-weight: normal;
}

.grid-item-btn{
    
    grid-area: canto-direito;
}
.card-header a{
    display: block;
    background-color: #09AB9B;
    color: white;
    width: 150px;
    height: 45px;
    border-radius: 5px;
    text-align: center;
    line-height: 45px;
    float: right;
}


/* Fim cabeçalho do card */

/* Começo corpo do card */

.card-body{
    background-color: white;
}
.ask{
    display: grid;
    grid-template-columns: 70% 28%;
    grid-template-rows: auto auto;
    row-gap: 15px;
    column-gap: 2%;
    grid-template-areas: "linha1fr3 linha1fr1" "linha2fr3 linha2fr1";
    padding: 20px;
    padding-bottom: 10px;
    align-items: center;
    border-bottom: solid 1px #DFDFDF;
}

.title, .category{
    text-decoration: none;
    color: black;
}
.grid-item-category{
    grid-area: linha2fr3;
}
.title{
    grid-area: linha1fr3;
    font-size: 18px;
    
}
.title:hover{
    color: rgb(136, 136, 136);
}
.category:hover{
    color: #F2D338;
    background-color: #9E8400;
}
.category{
    display: inline-block;
    text-align: center;
    line-height: 30px;
    height: 30px;
    padding: 0  15px;
    background-color: #F2D338;
    color: #9E8400;
    border-radius: 1px;
}
.user{

    color: rgb(136, 136, 136);
    align-self: flex-start;
    justify-self: end;
    grid-area: linha1fr1;
}
.date{
    color: rgb(136, 136, 136);
    grid-area: linha2fr1;
    justify-self: end;
}

/* Fim corpo do card */

/* Começo rodapé do card */

.card-footer{
    background-color: white;
    height: 60px;
    line-height: 60px;
    text-align: center;
} 
.card-footer a{
    text-decoration: none;
    color: black;
}

/* Responsividade */
@media(max-width: 768px){
    
    .card{
        border-radius: 0;
        box-shadow: none;
        margin-top: 00px;
    }
    /* Começo card header */
    .card-header{
        grid-template-areas: "meio1" "meio2";
        grid-template-columns: 100%;
    }

    .card-header h1{
        grid-area: meio1;
        justify-self: center;
        font-size: 18px;
    }
    .grid-item-btn{
        grid-area: meio2;
        justify-self: center;
        
    }
    .card-header a{
        font-size: 14px;
        line-height: 30px;
        height: 30px; 
    }

    /* Fim card header */

    .ask{
        display: grid;
        grid-template-columns: 100%;
      
        row-gap: 10px;
        grid-template-areas: "linha1ask" "linha2ask" "linha3ask" "linha4ask";
        padding: 10px;
        padding-bottom: 10px;
        border-bottom: solid 1px #DFDFDF;
    }
    .title{
        grid-area: linha1ask;
        font-size: 15px;
    }
    .user{
        grid-area: linha2ask;
        justify-self: flex-start;
        font-size: 14px;
    }
    .date{
        font-size: 14px;
        grid-area: linha3ask;
       
    }
    .date{
        justify-self: flex-start;
    }

    .grid-item-category{
        grid-area: linha4ask;
        justify-self: flex-start;
    }
   
}
@media(max-width: 420px){
    .grid-item-btn{
        justify-self: normal;
    }
    .card-header a{
        width: 100%;
    }
    

}