*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font: normal 16px "Helvetica", arial, Sans-serif;
    color: #555555;
    background-color: #e9e9e9;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 400;
}
h1{
    font-size: 22px;
}
a{
    color: #555555;
    text-decoration: none;
}
ul{
    list-style: none;
    padding-left: 0;
}
input, button{
    outline: none;
}
.btn{
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    background-color: #09AB9B;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}
.btn:hover{
    background-color: #088b7e;
}

/*---------- Container ----------*/
.container{ /*border: 2px solid black;*/
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

/*---------- Header ----------*/
header{
    z-index: 2; 
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 70px;
    background-color: #F2F2F2;
    box-shadow: #686868 0 0 5px 0;
}
#navbar{
    height: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-header{
    height: 50px;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.menu li{
    margin-left: 20px;
}
.menu a{
    color: #1F8C8C;
    font-weight: bold;
    transition: all 0.3s;
}
.menu a:hover{
    color: #24BFA3;
}
.menu-button{
    display: none;
}
/*---------- Search ----------*/
.search{
    border: 1.5px solid #707070;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
}
.search input{
    font-size: 16px;
    border-radius: 10px 0 0 10px;
    width: 300px;
    height: 40px;
    border: none;
    text-indent: 15px;
}
.search input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }
.search button{
    border-radius: 0 10px 10px 0 ;
    background-color: white;
    border: none;
    padding: 8px 8px 6px 8px;
    cursor: pointer;
}

/*---------- Main ----------*/
main{
    min-height: 75vh;
}
/*---------- Home, Search and Categories content ----------*/
.main-content#home, .main-content#search, .main-content#categories,
 .main-content#new-ask, .main-content#new-category, .main-content#credits{
    margin-top: 40px;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
}
.card-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 14px 20px;
    background-color: #F8F8F8;
}
/*---------- Asks content ----------*/
.ask{
    display: grid;
    grid-template-columns: 70% 28%;
    grid-template-rows: auto auto;
    row-gap: 15px;
    column-gap: 2%;
    grid-template-areas: "linha1fr3 linha1fr1" "linha2fr3 linha2fr1";
    padding: 20px;
    border-bottom: solid 1px #DFDFDF;
    align-items: center;
}
.grid-ask-title{
    grid-area: linha1fr3;
    font-size: 18px;
}
.grid-ask-category{
    grid-area: linha2fr3;
}
.grid-ask-user{
    justify-self: end;
    grid-area: linha1fr1;
}
.grid-ask-date{
    justify-self: end;
    grid-area: linha2fr1;
}
.btn-category{
    color: #085e69;
    padding: 8px;
    background-color: #37CADE;
    font-size: 14px;
    border-radius: 3px;
}
.btn-category:hover{
    background-color: #37becf;
}
.pagination{
    margin: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.pagination a{
    color: #096d5a;
    border: 1px solid #096d5a;
    border-radius: 5px;
    margin: 5px 10px;
    padding: 10px;
}
/*---------- All categories content ----------*/
.category{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto auto;
    grid-template-areas: "category-title category-number";
    padding: 20px;
    border-bottom: solid 1px #DFDFDF;
}
.grid-category-title{
    grid-area: category-title;
    align-self: center;
}
.discussions-number{
    grid-area: category-number;
    justify-self: end;
}
/*---------- New ask content ----------*/
#new-ask{
    padding: 20px;
}
#new-ask form input, #new-ask form label{
    display: block;
}
#title input, #description textarea{
    border-radius: 10px;
    width: 100%;
    border: solid #707070 1px; /* ****/
}
#title input:focus, #description textarea:focus, #new-ask select:focus{
   outline: none;
}
#new-ask input{
    font-size: 16px;
    text-indent: 15px;
    height: 45px;
}
#new-ask label{
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
}
#description textarea{
    height: 250px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    resize: none;
}
#categories select{
    background-color: white;
    color: #555555;
    text-indent: 10px;
    font-size: 16px;
    text-align: center;
    width: 180px;
    height: 45px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

/*---------- Ask page content ----------*/
#ask-header{
    background-color: white;
    border-radius: 10px 10px 0 0 ;
    border-bottom: 1px solid #c5c5c5;
    padding: 12px 15px;
    margin-top: 20px;
}

#ask-header span{
    font-size: 14px;
}

#ask-body, .answares{
    background-color: white;
    border-radius: 10px;
    padding: 12px 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}
#ask-body{
    border-radius: 0 0 10px 10px;
}
/*--- author ---*/
.comentary-author{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.author-img{
    background-color: grey;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.author-data{
    display: flex;
    flex-direction: flex-start;
}
.author-username{
    margin-right: 10px;
    text-align: left;
}
.author-date{
    display: inline-block;
}
/*--- text ---*/
.comentary-text{
    width: 100%;
    margin-left: 0px;
}
.comentary-text p{
    margin-top: 10px;
    text-align: justify;
}
.comentary-text p img{
    max-width: 100%;
    max-height: auto;
    height: auto;
}
/*--- Answare form ---*/
#answare-form{
    background-color: white;
    border-radius: 10px;
    padding: 12px 15px;
}
#answare-form h2{
    font-size: 20px;
    margin-bottom: 20px;
}
#answare-form textarea{
    display: block;
    width: 100%;
    resize: none;
    height: 300px;
}
#answare-form button.btn{
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    background-color: #09AB9B;
    font-size: 16px;
}
/*---------- new category  ----------*/
#new-category{
    padding: 20px;
}
#new-category label{
    display: block;
    margin-top: 20px;
}
#new-category input{
    margin-top: 10px;
}
#new-category input[type=text]{
    border: 1px solid #707070;
    display: block;
    width: 100%;
    height: 45px;
    font-size: 16px;
    border-radius: 10px;
    text-indent: 15px;
    margin-bottom: 15px;
}
/*---------- Login and Sign up  ----------*/
#login, #signup{
    margin-top: 40px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: #cacaca 0 3px 3px 0;
    text-align: center;
    max-width: 400px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}
#login h1, #signup h1{
    font-size: 22px;
    margin: 20px 0 40px 0;
}
#login input, #signup input{
    border: 1px solid #9e9e9e;
    background-color: #f8f8f8;
    font-size: 16px;
    width: 90%;
    height: 40px;
    border-radius: 50px;
    margin-bottom: 15px;
    text-indent: 15px;
}
#login button, #signup button{
    font-size: 16px;
    font-weight: bold;
    width: 90%;
    height: 40px;
    border-radius: 50px;
    transition: all 0.3s;
}
#signup button{
    margin: 20px 0;
    border: none;
    color: white;
    background-color: #1F8C8C;
    cursor: pointer;
}
#signup button:hover{
    background-color: #2db9b9;
}
#signup #back-button{
    color: #088ca7;
}
/*---------- Login  ----------*/
#login input[type=password]{
    margin-bottom: 30px;
}

#login #login-button{
    cursor: pointer;
    border: none;
    color: white;
    background-color: #1F8C8C;
}
#login #login-button:hover{
    background-color: #2db9b9;
}
#login #signup-button{
    cursor: pointer;
    border: 2px solid #24BFA3;
    background-color: white;
    color: #24BFA3;
}
#login #signup-button:hover{
    color: white;
    background-color: #24BFA3;
}
#login span{
    display: block;
    margin-top: 20px;
}
#login span a{
    color: #088ca7;
}

#credits h1{
    font-size: 20px;
    padding-top: 20px;
    padding-left: 20px;
}

#credits ul{
    padding: 20px;
}
#credits li{
    margin-top: 10px;
    line-height: 32px;
    color: #096d5a;   
}
#credits li a img{
    vertical-align: middle;
}
#credits li span{
   padding-right: 10px;
}
.tinymce-menu-open{
    visibility: hidden!important;
    display: none;
}
/*---------- Footer ----------*/
footer{ 
    background-color: #595959;
    padding: 20px 0;
    margin-top: 40px;
}
#footer{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo-footer{
    height: 40px;
    margin-bottom: 20px;
}
#footer ul{
    display: flex;
    justify-content: center;
}
#footer ul li{
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
#footer ul a{
    color: white;
}
#footer hr{
    width: 100%;
    margin: 15px 0;
}
#footer span{
    text-align: center;
}

@media (max-width:1024px) {
    .search input{
        width: 150px;
    }
}
@media (max-width: 768px){

    body{
        font-size: 14px;
    }

    header{
        height: 60px;
        padding: 0 20px;
    }
    /*---------- Container ----------*/
    .container{
        padding: 0;
    }
    /*---------- Navbar ----------*/
    .logo-header{
        height: 40px;
    }
    .menu{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: #096d5a;
        height: 100%;
        position: fixed;
        top: 0;
        right: -100%;
        width: 250px;
        padding-top: 80px;
        padding-right: 20px;
        transition: all .2s;
    }
    .menu li{
        margin-bottom: 30px;
    }
    .menu a{
        font-size: 16px;
        color: white;
    }
    .menu-active{
        right: 0;
        transition: all .2s;
    }
    .search input{
        width: 100%;
    }
    .menu-button{ 
        background-color: transparent;
        border: none;
        height: 20px;
        width: 25px;
        z-index: 1;
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: all 0.3s;
    }
    .menu-button .bars{
        background-color: #096d5a;
        border-radius: 2px;
        width: 25px;
        height: 2px;
        transition: all .2s;
    }
    .bar-1{
        transform-origin: left;
    }
    .bar-3{
        transform-origin: left;
    }
    .menu-button-active .bars{
        background-color: white;
    }
    .menu-button-active .bar-1{
        transform: rotate(45deg);
    }
    .menu-button-active .bar-2{
        display: none;
    }
    .menu-button-active .bar-3{
        transform: rotate(-45deg);
    }
    /*---------- Home, Search and Categories content ----------*/
    .main-content#home, .main-content#search, .main-content#categories,
     .main-content#new-ask, .main-content#new-category, .main-content#credits{
        margin-top: 0;
        border-radius: 0;
    }
     .main-content#credits{
        height: 80vh;
    }
    .card-header{
        flex-direction: column;
        justify-content: center;
        background-color: #e9e9e9;
    }
    .card-header h1{
        margin: 15px;
    }
    
    /*---------- Ask content ----------*/
    .ask{ 
        display: grid;
        grid-template-columns: 100%;
        row-gap: 10px;
        grid-template-areas: "linha1ask" "linha2ask" "linha3ask" "linha4ask";
    }
    .grid-ask-title{
        grid-area: linha1ask;
    }
    .grid-ask-user{
        justify-self: start;
        grid-area: linha2ask;
    }
    .grid-ask-date{
        justify-self: start;
        grid-area: linha3ask;
    }
    .grid-ask-category{
        grid-area: linha4ask;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .btn-category{
        color: #085e69;
        padding: 8px;
        background-color: #37CADE;
        font-size: 14px;
        border-radius: 3px;
    }
    /*---------- All categories content ----------*/
    .category{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "category-title category-number";
    }
    .grid-category-title{
        grid-area: category-title;
        justify-self: start;
    }
    .discussions-number{
        grid-area: category-number;
        justify-self: start;
    }
    /*---------- Discussion page ----------- */
    #ask-header h1{
        font-size: 18px;
    }
    /*------- author -------*/
    #answare-form h2{
        font-size: 18px;
    }
    /*---------- New category ----------*/
    #new-category{
        height: 80vh;
        padding-top: 40px;
    }
    #new-category button{
        font-size: 14px;
    }
    /*---------- Login and Sign up  ----------*/
    
    /*---------- Credits ----------------*/
    #credits ul{
        padding: 20px;
    }
    #credits h1{
        padding-left: 20px;
    }
    #credits img {
        height: 20px;
    }

    /*---------- Footer ----------*/
    footer{
        margin-top: 0;
    }
    .logo-footer{
        height: 30px;
    }
    #footer ul{
        flex-wrap: wrap;
    }
    .tox{ /*Classe do tinymce*/
        z-index: 0 !important;
    }
}
@media(max-width:420px){
    h1{
        font-size: 18px;
    }
    label, a, input{
        font-size: 14px;
    }
    .btn{
        width: 100%;
    }
    /*------ Home, search, and categories content */
    .grid-ask-title{
        font-size: 16px;
    }

    /*------ New ask content */
    #categories select{
        font-size: 14px;
        width: 120px;
    }
    #new-ask label{
        font-size: 14px;
    }
    #new-ask input{
        font-size: 14px;
    }
    /*---------- New category ----------*/
    #new-category input[type=text]{
        font-size: 14px;
    }
    #new-category button{
        width: 100%;
    }
    /*---------- Login and Sign up  ----------*/
    #login, #signup{
        width: 100%;
        height: 600px;
        margin-top: 0;
        border-radius: 0;
    }
    #login input, #signup input{
        font-size: 14px;
        width: 100%;
    }
    #login button, #signup button{
        width: 100%;
    }
}
