*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font: 16px "Helvetica", arial, Sans-serif;
    background-color: #e9e9e9;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 400;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    padding-left: 0;
}
input, button{
    outline: none;
}
button{
    cursor: pointer;
}
/*---------- Container ----------*/
.container{ /*border: 2px solid black;*/
    max-width: 1100px;
    padding: 0 20px;
    margin: 0 auto;
}

/*---------- Header ----------*/
header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 70px;
    background-color: #F2F2F2;
    box-shadow: #686868 0 0 5px 0;
}
#navbar{
    height: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar a#brand{
    color: #096d5a;
    font-size: 30px;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu li{
    margin-left: 20px;
}
.menu a{
    color: #1F8C8C;
    font-weight: bold;
    transition: all 0.3s;
}
.menu a:hover{
    color: #24BFA3;
}
.menu-button{
    display: none;
}
/*---------- Search ----------*/
.search{
    border: 1.5px solid #707070;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
}
.search input{
    font-size: 16px;
    border-radius: 10px 0 0 10px;
    width: 300px;
    height: 40px;
    border: none;
    text-indent: 15px;
}
.search button{
    border-radius: 0 10px 10px 0 ;
    background-color: white;
    border: none;
    padding: 8px 8px 6px 8px;
}

/*---------- Main ----------*/
main{
    min-height: 75vh;
}
/*---------- Footer ----------*/
footer{ 
    background-color: #595959;
    padding: 20px 0;
    margin-top: 20px;
}
#footer{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#footer h2{
    margin-bottom: 30px;
}
#footer ul{
    display: flex;
    justify-content: center;
}
#footer ul li{
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
#footer ul a{
    color: white;
}
#footer hr{
    width: 100%;
    margin: 15px 0;
}
#footer span{
    text-align: center;
}

@media (max-width:1024px) {
    .search input{
        width: 150px;
    }
}
@media (max-width: 768px){

    body{
        font-size: 14px;
    }

    header{
        height: 60px;
    }
    /*---------- Navbar ----------*/
    .menu{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: #595959;
        height: 100%;
        position: fixed;
        top: 0;
        right: -100%;
        width: 250px;
        padding-top: 80px;
        padding-right: 20px;
        transition: all .2s;
    }
    .menu li{
        margin-bottom: 30px;
    }
    .menu a{
        font-size: 16px;
        color: white;
    }
    .menu-active{
        right: 0;
        transition: all .2s;
    }
    .search input{
        width: 100%;
    }
    .menu-button{ 
        background-color: transparent;
        border: none;
        height: 20px;
        width: 25px;
        z-index: 1;
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: all 0.3s;
    }
    .menu-button .bars{
        background-color: #096d5a;
        border-radius: 2px;
        width: 25px;
        height: 2px;
        transition: all .2s;
    }
    .bar-1{
        transform-origin: left;
    }
    .bar-3{
        transform-origin: left;
    }
    .menu-button-active .bars{
        background-color: white;
    }
    .menu-button-active .bar-1{
        transform: rotate(45deg);
    }
    .menu-button-active .bar-2{
        display: none;
    }
    .menu-button-active .bar-3{
        transform: rotate(-45deg);
    }

    /*---------- Footer ----------*/
    #footer ul{
        flex-wrap: wrap;
    }
}
