/*---------- Create category  ----------*/
#create-category{
    margin-top: 40px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: #cacaca 0 3px 3px 0;
}
#create-category h1{
    margin-bottom: 25px;
}
#create-category input[type=text]{
    border: 1px solid #707070;
    display: block;
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
    border-radius: 10px;
    text-indent: 15px;
}
#create-category button{
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    background-color: #09AB9B;
    font-size: 16px;
}
#create-category button:hover{
    background-color: #339E7E;
}
@media(max-width:768px){
    #create-category button{
        font-size: 14px;
    }
}
@media(max-width:414px){
    #create-category button{
        width: 100%;
    }
}