/*---------- new category  ----------*/
#new-category{
    padding: 20px;
}
#new-category label{
    display: block;
    margin-top: 20px;
}
#new-category input, #new-category button{
    margin-top: 10px;
}
#new-category input[type=text]{
    border: 1px solid #707070;
    display: block;
    width: 100%;
    height: 45px;
    font-size: 16px;
    border-radius: 10px;
    text-indent: 15px;
}
/*---------- Media Queries  ----------*/
/*---- Tablet Screen ----*/
@media(max-width:768px){
    #new-category button{
        font-size: 14px;
    }
}
/*---- Mobile Screen ----*/
@media(max-width:414px){
    #new-category input[type=text]{
        font-size: 14px;
    }
    #new-category button{
        width: 100%;
    }
}


#new-ask{
    margin-top: 100px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.19);
}



#new-ask form input, #new-ask form label{
    display: block;
}
#new-ask div{
  margin-top: 20px;
}
#new-ask input, #new-ask textarea, #new-ask button{
    margin-top: 20px;
}
#title input, #description textarea{
    border-radius: 10px;
    width: 100%;
    border: solid #707070 1px; /* ****/
}
#title input:focus, #description textarea:focus, #new-ask select:focus{
   outline: none;
}
#new-ask input{
    text-indent: 10px;
    font-size: 20px;
    height: 45px;
}

#new-ask h1{
    font-weight: normal;
    color: #686868;
    font-size: 25px;
}

#new-ask label{
    color: #000000;
    font-size: 20px;
}
#description textarea{
    height: 250px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    resize: none;
}

#categories select{
    font-size: 20px;
    text-align: center;
    color: #000000;
    width: 200px;
    font-size: 20px;
    height: 45px;
    border-radius: 10px;
    border: solid #707070 1px; /* ****/
}

#new-ask button{
    border: none;
    border-radius: 5px;
    font-size: 20px;
    height: 45px;
    width: 160px;
    background-color: #09AB9B;
    color: white;
}


@media(max-width: 768px){
   #new-ask h1{
       font-size: 20px;
   }
   #new-ask label{
       font-size: 15px;
   }
   #new-ask input, #new-ask select, #description textarea{
       font-size: 14px;
   }
   #description textarea{
       height: 150px;
   }
   #new-ask select {
       width: 100%;
       text-align-last: center;
       -ms-text-align-last: center;
       -moz-text-align-last: center;
    }

    #new-ask button{
       font-size: 14px;
       width: 100%;
       
   }
   #new-ask {
       margin-top: 40px;
       margin-bottom: 40px;
       padding-bottom: 30px;
   }
}